<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Top -->
<th:block th:fragment="topbarFragment">
<div style="padding: 10px 10px 10px 10px">
  <a th:href="@{/music}" style="margin-right: 20px">홈</a>
  <a th:href="@{/music/songs}" style="margin-right: 20px">노래 리스트</a>
  <a th:href="@{/music/singers}" style="margin-right: 20px">가수 리스트</a>
  <a th:href="@{/music/producers}" style="margin-right: 20px">작곡가 리스트</a>
  <a th:href="@{/music/admin}" style="float: right;">관리 페이지</a>
</div>
</th:block>

</html>
