@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype");
    src: local("Noto Sans Light"), local("NotoSans-Light"), url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-Light-Hestia.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype");
    src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-DemiLight-Hestia.otf) format("opentype");
}
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: bold;
    src: url(//script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype");
    src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(//script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-Bold-Hestia.otf) format("opentype");
}

/* global */
body {
    margin: 0;
    font-family: "Noto Sans Korean", "Open Sans", "malgun gothic", "Nanum Gothic", dotum, arial, sans-serif;
    font-weight: 500;
}
h1 {
    font-weight: bold;
    text-decoration: solid underline #d70000 3px;
    text-underline-position: under;
    text-decoration-style: double;
}
h2 {
    font-weight: bold;
    text-decoration: solid underline #d70000 2px;
    text-underline-position: under;
    text-decoration-style: dashed;
}
textarea:focus, input:focus {
    outline: none;
}

/* navigation */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover:not(.active) {
    background-color: #111;
}
.nav .active {
    background-color: #9b0000;
}
.nav li a.active:hover {
    background-color: #770000;
}

/* section */
.section {
    padding: 10px;
}
.section .col-container {
    display: flex;
    flex-direction: column;
}
.section .row-container {
    display: flex;
}
.section .item {
    margin: 7px;
}
.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section li {
    padding-left: 16px;
}
.section li::before {
    content: "☯";
    padding-right: 8px;
    color: #d70000;
}
.section a {
    text-decoration: none;
    color: #d70000;
}
.section a:hover {
    text-decoration: underline;
    color: #d70000;
}

/* custom */
.enter-image {
    line-height: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.enter-image figcaption {
    color: #ffffff;
    background: rgba(55, 55, 55, 0.5);
    padding: 1em;
    line-height: 1;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
}

.song-elem {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    padding: 10px;
}
.song-thumb {
    width: 192px;
    height: 106px;
    overflow: hidden;
    margin: 10px auto;
    transition: transform .2s;
}
.song-thumb img {
    width: 192px;
    height: 144px;
    margin: -19px 0;
}
.song-thumb:hover {
    transform: scale(1.05);
}
.song-detail {
    width: 600px;
}

.favicon {
    vertical-align: sub;
}

.creator-elem {
    display: inline-block;
    width: 200px;
    text-align: center;
}
.creator-elem img {
    display: block;
    margin: 10px auto;
    box-shadow: 5px 5px 10px #c0c0c0;
    transition: transform .2s;
}
.creator-elem img:hover {
    transform: scale(1.05);
}
.creator-detail {
    min-width: 350px;
}
.creator-detail img {
    width: 260px;
    height: 260px;
    display: block;
    margin: 20px auto;
}
.creator-song {

}

.fit-rest {
    flex: 1;
}
.comment {
    width: auto;
    min-width: 560px;
    max-width: 800px;
}
.comment textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
    border: 2px solid #d70000;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
}
.comment input {
    box-sizing: border-box;
    padding: 3px 10px;
    border: 2px solid #d70000;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
}
.comment input + input {
    border-left: 0;
}
.comment button {
    background-color: #d70000;
    vertical-align: baseline;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 9px;
}
.comment input + button {
    margin-left: -2px;
}
.comment button:hover {
    background-color: #9b0000;
}

.comment-list {
    overflow: hidden;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}
.comment-list .ip {
    color: grey;
}
.comment-list .date {
    font-size: 70%;
    margin-left: 7px;
}
.comment-list div + div {
    border-top: 2px dashed #d70000;
    padding-top: 16px;
}
.comment-list .comment-body {
    line-break: anywhere;
    white-space: pre-line;
}
.no-comment::before {
    content: "작성된 댓글이 없습니다. 첫번째로 댓글을 달아보세요!";
    color: #888888;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}
.tooltip .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.yin-yang {
    position: relative;
    height: 100px;
    border-color: #d70000;
    border-style: solid;
    width: 100px;
    border-width: 5px;
    border-radius: 100%;
    background: linear-gradient(#fff 50%, #d70000 50%);
    animation: roll 1.5s infinite;
}
.yin-yang:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    background: #fff;
    border: 18px solid #d70000;
    border-radius: 100%;
    width: 14px;
    height: 14px;
}
.yin-yang:after {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    background: #d70000;
    border: 18px solid #fff;
    border-radius: 100%;
    width: 14px;
    height: 14px;
}
@keyframes roll {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-720deg);
    }
}

.space-evenly {
    justify-content: space-evenly;
}
.no-border {
    border: 0;
}

.admin .item {
    width: 400px;
}
.admin input {
    box-sizing: border-box;
    padding: 3px 10px;
    border: 2px solid #d70000;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
}
.admin input + input {
    border-top: 0;
}
