<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{music/layout/default_layout}">

<th:block layout:fragment="content">
  <div class="col-container">
    <div class="item">
      <h1>요약</h1>
      <p th:utext="'현재 <strong>' + ${producerList.size()} + '명</strong>의 작곡가가 있습니다.'"></p>
    </div>
    <div class="item">
      <h1>작곡가 목록</h1>
      <div class="creator-elem" th:each="producer: ${producerList}">
        <a th:href="@{'/music/producer/' + ${producer.id}}">
          <img th:src="${producer.thumbnail}" data-thumbnail="/static/images/no-image.png" onerror="this.src = this.getAttribute('data-thumbnail');" alt="producer-thumbnail" width="160" height="160">
        </a>
        <a th:href="@{'/music/producer/' + ${producer.id}}" th:text="${producer.nameKorean}"></a>
      </div>
    </div>
  </div>
</th:block>

</html>
