<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{music/layout/default_layout}">

<th:block layout:fragment="content">
  <div class="row-container">
    <div class="item creator-detail">
      <h1>가수 정보</h1>
      <img th:src="${singer.thumbnail}" data-thumbnail="/static/images/no-image.png" onerror="this.src = this.getAttribute('data-thumbnail');">
      <ul>
        <li><strong>이름: </strong><span th:text="${singer.name + ' (' + singer.nameKorean + ')'}"></span></li>
        <li><strong>노래 수: </strong><span th:text="${songs.size}"></span></li>
      </ul>
    </div>
    <div class="item creator-song">
      <h1>부른 노래들</h1>
      <div class="song-elem" th:each="song: ${songs}">
        <div class="song-thumb">
          <a th:href="@{'/music/song/' + ${song.id}}">
            <img th:if="${song.isYoutube()}" th:src="${song.thumbnailUrl}" alt="song-thumbnail">
            <img th:if="${!song.isYoutube()}" th:src="${song.thumbnailUrl} + '.L'" th:data-thumbnail="${song.thumbnailUrl}" onerror="this.src = this.getAttribute('data-thumbnail');" alt="song-thumbnail">
          </a>
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>
