<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{music/layout/default_layout}">

<th:block layout:fragment="content">
  <h1>요약</h1>
  <div th:text="'현재 ' + ${singerList.size()} + '명의 가수가 있습니다.'"></div>
  <div th:text="'앗, 그 중에 ' + ${robotCount} + '명은 사람이 아니라 기계예요 😅'"></div>

  <h1>가수 리스트</h1>
  <div th:each="singer: ${singerList}" style="display: inline-block; width: 225px;">
    <a th:href="@{'/music/singer/' + ${singer.id}}" th:text="${singer.nameKorean}"></a>
  </div>
</th:block>

</html>
