<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{music/layout/default_layout}">

<th:block layout:fragment="content">
  <div class="row-container">
    <div class="col-container">
      <div class="item">
        <h1>동영상</h1>
        <iframe width="560" height="315" th:src="${song.embedTag}" title="video player" style="border: 0;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="item">
        <h1>노래 정보</h1>
        <ul>
          <li>
            <strong>작곡가: </strong>
            <span th:each="producer: ${producerList}">
          <a th:href="@{'/music/producer/' + ${producer.id}}"><span th:text="${producer.nameKorean}"></span></a>
        </span>
          </li>
          <li>
            <strong>가수: </strong>
            <span th:each="singer: ${singerList}">
          <a th:href="@{'/music/singer/' + ${singer.id}}"><span th:text="${singer.nameKorean}"></span></a>
        </span>
          </li>
          <li>
            <strong>원제목: </strong>
            <span th:text="${song.title}"></span>
          </li>
          <li>
            <strong>제목: </strong>
            <span th:text="${song.titleKorean}"></span>
          </li>
          <li>
            <strong>길이: </strong>
            <span th:text="${song.length / 60} + '분 ' + ${song.length % 60} + '초'"></span>
          </li>
          <li>
            <strong>업로드: </strong>
            <span th:text="${song.uploaded}"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-container fit-rest">
      <div class="item">
        <h1>댓글</h1>
        <div class="comment">
          <textarea id="comment-body" name="body" placeholder="댓글 내용을 입력해주세용" maxlength="200" rows="7"></textarea>
          <div class="row-container">
            <div class="fit-rest"></div>
            <input id="comment-nickname" type="text" name="nickname" placeholder="닉네임" maxlength="20" size="20">
            <input id="comment-password" type="password" name="password" placeholder="비밀번호" maxlength="32" size="20">
            <button type="submit" onclick="saveCommentAndReload()">댓글 작성</button>
          </div>
        </div>

        <div class="comment comment-list" id="commentList">
          <div class="align-center" style="height: 300px">
            <div class="yin-yang"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:inline="javascript" th:src="@{/static/js/comment.js}"></script>
  <script>reload();</script>

</th:block>

</html>
