<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{music/layout/default_layout}">

<th:block layout:fragment="content">
  <div class="col-container">
    <div class="item">
      <h1>요약</h1>
      <p th:with="day = ${length / 86400}, hour = ${length % 86400 / 3600}"
        th:utext="
        '현재 <strong>' + ${songList.size()} + '</strong>개의 노래가 있습니다.'
        + '<br>모두 듣는다면 <strong>' + ${day == 0 ? '' : day + '일 '} + ${hour == 0 ? '' : hour + '시간 '} + ${length % 3600 / 60} + '분 ' + ${length % 60} + '초</strong>가 소요됩니다.'
      "></p>
    </div>
    <div class="item">
      <h1>노래 목록</h1>
      <div th:each="song: ${songList}" class="song-elem">
        <div class="song-thumb">
          <a th:href="@{'/music/song/' + ${song.id}}">
            <img th:if="${song.isYoutube()}" th:src="${song.thumbnailUrl}" alt="song-thumbnail">
            <img th:if="${!song.isYoutube()}" th:src="${song.thumbnailUrl} + '.L'" th:data-thumbnail="${song.thumbnailUrl}" onerror="this.src = this.getAttribute('data-thumbnail');" alt="song-thumbnail">
          </a>
        </div>
        <strong>제목:</strong> <a th:href="@{'/music/song/' + ${song.id}}" th:text="${song.titleKorean}"></a>
        <img class="favicon" th:src="${song.favicon}" width="20" height="20" th:alt="${song.site.name().toLowerCase()}">
        <br>
        <strong>길이:</strong> <span th:text="${song.length / 60} + '분 ' + ${song.length % 60} + '초'"></span>
        <br>
        <strong>업로드:</strong> <span th:text="${song.uploaded}"></span>
      </div>
    </div>
  </div>
</th:block>

</html>
