<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Reimu Server</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/static/images/ico/site.webmanifest">
</head>
<body>
    <img src="/static/images/reimu.jpg" alt="reimu" style="width:530px; height:750px; display: inline;">
    <h1><a href="music/">Music</a></h1>
</body>
</html>
